<!DOCTYPE html>
<html lang="en">
<header>
    <link rel="stylesheet" href="~/css/Dashboard.css" />
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-4 col-md-3 py-4">
              <h4 class="text-white"><a href="#" class="text-white">Employees</a></h4>
            </div>
            <div class="col-sm-2 offset-md-1 py-4">
              <h4 class="text-white"><a href="#" class="text-white">KSI</a></h4>
            </div>
            <div class="col-sm-2 offset-md-1 py-4">
            <input type="text" placeholder=" Search for an employee">
              </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand d-flex align-items-center">
            <img src="https://www.intellinetics.com/wp-content/uploads/2019/03/default-logo.png" alt="Intellinetics Logo">
            &nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;
            <strong>Employee Temperature Tracking App</strong>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>

    <!-- Start Dashboard Modification (David) -->
    <div class="w3-row w3-margin-top">
      <div class="w3-third">
        <div class="w3-container">
          <a href="/Home" style="text-decoration: none;">
            <div class="w3-dark-grey">
              <h2 class="w3-center w3-padding-small">Home</h2>
            </div>
          </a>
        </div>
      </div>
      <div class="w3-third">
        <div class="w3-container">
          <a href="/Home/EnterScreening" style="text-decoration: none;">
            <div class="w3-green">
              <h2 class="w3-center w3-padding-small">New Screening</h2>
            </div>
          </a>
        </div>
      </div>
      <div class="w3-third">
        <div class="w3-container">
          <a href="/Login" style="text-decoration: none;">
            <div class="w3-grey">
              <h2 class="w3-center w3-padding-small">Logout</h2>
            </div>
          </a>
        </div>
      </div>
    </div>
    <!-- End Dashboard Modification (David) -->

    <main role="main">

      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-side" data-src="holder.js/100px225?theme=thumb&bg=D0DEDD&fg=ffffff&text=Thumbnail" alt="Card image cap">
                <div class="card-body">
                  <p class="card-name text-gray">John Doe</p>
                  <small class="text-muted">ID: 1234567890</small>&nbsp;&nbsp;&nbsp;&nbsp;<small class="text-muted">Position: Placeholder</small><br><br>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-side" data-src="holder.js/100px225?theme=thumb&bg=D0DEDD&fg=ffffff&text=Thumbnail" alt="Card image cap">
                <div class="card-body">
                  <p class="card-name text-gray">John Doe</p>
                  <small class="text-muted">ID: 1234567890</small>&nbsp;&nbsp;&nbsp;&nbsp;<small class="text-muted">Position: Placeholder</small><br><br>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-side" data-src="holder.js/100px225?theme=thumb&bg=D0DEDD&fg=ffffff&text=Thumbnail" alt="Card image cap">
                <div class="card-body">
                  <p class="card-name text-gray">John Doe</p>
                  <small class="text-muted">ID: 1234567890</small>&nbsp;&nbsp;&nbsp;&nbsp;<small class="text-muted">Position: Placeholder</small><br><br>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-side" data-src="holder.js/100px225?theme=thumb&bg=D0DEDD&fg=ffffff&text=Thumbnail" alt="Card image cap">
                <div class="card-body">
                  <p class="card-name text-gray">John Doe</p>
                  <small class="text-muted">ID: 1234567890</small>&nbsp;&nbsp;&nbsp;&nbsp;<small class="text-muted">Position: Placeholder</small><br><br>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-side" data-src="holder.js/100px225?theme=thumb&bg=D0DEDD&fg=ffffff&text=Thumbnail" alt="Card image cap">
                <div class="card-body">
                  <p class="card-name text-gray">John Doe</p>
                  <small class="text-muted">ID: 1234567890</small>&nbsp;&nbsp;&nbsp;&nbsp;<small class="text-muted">Position: Placeholder</small><br><br>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-side" data-src="holder.js/100px225?theme=thumb&bg=D0DEDD&fg=ffffff&text=Thumbnail" alt="Card image cap">
                <div class="card-body">
                  <p class="card-name text-gray">John Doe</p>
                  <small class="text-muted">ID: 1234567890</small>&nbsp;&nbsp;&nbsp;&nbsp;<small class="text-muted">Position: Placeholder</small><br><br>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-side" data-src="holder.js/100px225?theme=thumb&bg=D0DEDD&fg=ffffff&text=Thumbnail" alt="Card image cap">
                <div class="card-body">
                  <p class="card-name text-gray">John Doe</p>
                  <small class="text-muted">ID: 1234567890</small>&nbsp;&nbsp;&nbsp;&nbsp;<small class="text-muted">Position: Placeholder</small><br><br>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-side" data-src="holder.js/100px225?theme=thumb&bg=D0DEDD&fg=ffffff&text=Thumbnail" alt="Card image cap">
                <div class="card-body">
                  <p class="card-name text-gray">John Doe</p>
                  <small class="text-muted">ID: 1234567890</small>&nbsp;&nbsp;&nbsp;&nbsp;<small class="text-muted">Position: Placeholder</small><br><br>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-side" data-src="holder.js/100px225?theme=thumb&bg=D0DEDD&fg=ffffff&text=Thumbnail" alt="Card image cap">
                <div class="card-body">
                  <p class="card-name text-gray">John Doe</p>
                  <small class="text-muted">ID: 1234567890</small>&nbsp;&nbsp;&nbsp;&nbsp;<small class="text-muted">Position: Placeholder</small><br><br>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

    </main>
</html>