<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <system.web>
        <compilation debug="true"  />
        <httpRuntime  />
    </system.web>
    <appSettings>
        <add key="GSIEmployeeAppId" value="117"/>
        <add key="GSIDailyScreeningAppId" value="116"/>
        <add key="IntellEmployeeAppId" value="216"/>
        <add key="IntellDailyScreeningAppId" value="217"/>
    </appSettings>
</configuration>
