@{
    ViewData["Title"] = "CRUD Index";
}

<div class="text-center">
    @* TODO: put links and/or list of employees *@
    <h1 class="display-4">Put links to Create/Read/Update/Delete here? Or list of employees</h1>
</div>
