@section HeaderSection {
    <link href="http://cdn.kendostatic.com/2012.3.1114/styles/kendo.common.min.css" rel="stylesheet" />

    <link href="http://cdn.kendostatic.com/2012.3.1114/styles/kendo.default.min.css" rel="stylesheet" />

    <script src="http://cdn.kendostatic.com/2012.3.1114/js/kendo.all.min.js"></script>
}
<h2>Employee Records</h2>

<div id="grid"></div>
<script>
$(function(){
    $("#grid").kendoGrid({
        height: 400,
        columns: [
            "EmployeeName",
            {field: "EmployeeID",   width: "150px"}
            {field: "Company",      width: "150px"}
            {field: "LastName",     width: "150px"}
            {field: "FirstName",    width: "150px"}
            {field: "Status",   width: "150px"}
            { command: "destroy", title: "Delete", width: "110px" }
        ], 
        editable: true,
        pageable: true,
        sortable: true,
        filterable: true,
        toolbar: ["create", "save", "cancel"], 
        dataSource:{
            serverPaging: true,
            serverFiltering: true,
            serverSorting: true,
            pageSize: 20,
            schema: {
                data: "Data",
                model: {
                    id: "EmployeeID",
                    fields: {
                        EmployeeID: { editable: false, nullable: false },
                        Company: 
                        LastName: { validation: { required: true } },
                        FirstName:
                        Status: 
                    }
                }
            };
        }

    })

})
</script>
<!--test-->