<h4>ToDo: Create a form for health screening entries.</h4>
<p>Use the example screening forms as an outline for data requirements. Use the Intellinetics website for design inspiration. Pass form data to a ScreeningModel object.</p>