<div id="int_screening_form" class="w3-card-4 w3-margin-left w3-margin-right">
    <div class="w3-container w3-green"><h4 class="w3-center">New Screening - Intellinetics</h4></div>
    <form method="Post" action="/Screening/ProcessScreening" class="w3-container">
        <!-- Begin Data Entry Portion -->
       
        <!-- First/Last Name Row -->
        <div class="w3-row w3-margin-top">
            <div class="w3-half w3-container"><input class="w3-input w3-round w3-border w3-border-grey" type="text" size="20" name="fname" placeholder="Firstname" value='@ViewData["FirstName"]' required /></div>
            <div class="w3-half w3-container"><input class="w3-input w3-round w3-border w3-border-grey" type="text" size="20" name="lname" placeholder="Lastname" value='@ViewData["LastName"]' required /></div>
        </div>
           
        <!-- Id, Organization, & Temperature row -->
        <div class="w3-row w3-margin-top w3-margin-bottom">
            <div class="w3-third w3-container"><input class="w3-input w3-round w3-border w3-border-grey" type="text" size="20" name="id" placeholder="Employee Id" value='@ViewData["EmployeeId"]' required /></div>
        </div>

        <!-- End Data Entry Portion / Begin Questionairre Portion -->

        <h3 class="w3-center">Please truthfully answer the following questions for the health and safety of us all.</h3>
        <!-- Question A split into two columns to save vertical space -->
        <p>1. Do you have symptoms of respiratory infection? (fever, cough, shortness of breath) :</p>
         <!-- Answer question A -->
        <input id="symptoms_yes" class="w3-radio" type="radio" name="symptoms" value="Yes" required /><label for="symptoms_yes"> Yes</label>
        <input id="symptoms_no" class="w3-radio" type="radio" name="symptoms" value="No" required /><label for="symptoms_no"> No</label>
                
        <!-- Question B -->
        <p>2. Have you travelled outside of the United States to any of the following countries within the past 14 days: China, Iran, Italy, Japan, South Korea or any of the level 2 or 3 countries identified by CDC OR been exposed to someone with confirmed COVID-19?</i></p>
        <input id="travel_yes" class="w3-radio" type="radio" name="intlTravel" value="Yes" required /><label for="travel_yes"><p> Yes </p></label>
        <input id="travel_no" class="w3-radio" type="radio" name="intlTravel" value="No" required /><label for="travel_no"><p> No </p></label>

        <!-- Question C -->
        <p>3. Do you have a temperatue of 100.4 degrees Fahrenheit or greater?</p>
        <input id="highTemp_yes" class="w3-radio" type="radio" name="highTemp" value="Yes" required /><label for="highTemp_yes"><p> Yes </p></label>
        <input id="highTemp_no" class="w3-radio" type="radio" name="highTemp" value="No" required /><label for="highTemp_no"><p> No </p></label>

        <!-- Signature -->
        <p>*Do you confirm the above information is correct?</p>
        <input id="sign_yes" class="w3-radio" type="radio" name="Sig" value="Yes" required /><label for="sig_yes"><p> Yes </p></label>
        @* <input id="sign_no" class="w3-radio" type="radio" name="Sig" value="No" required /><label for="sig_no"><p> No </p></label> *@

        <div class="w3-row w3-margin-top w3-margin-bottom">
            <div class="w3-half w3-container"><input class="w3-input w3-round w3-border w3-border-grey" type="text" size="10" name="sigName" placeholder="Name" required /></div>
            <div class="w3-half w3-container"><input class="w3-input w3-round w3-border w3-border-grey" type="text" size="10" name="sigDate" placeholder="Date" required /></div>
        </div>

        <p>*My Signature on this form indicates that I have completed the daily self-assessment and acknowledge I have taken my temperature and it is equal to or below 100.4 degrees, 
        I am not exhibiting any of the following symptoms: new/change in cough, shortness of breath, sore throat, fatigue, malaise, nausea, diarrhea or headache per CDC COVID-19 guidelines. 
        If I have any of these symptoms and/or others I will report immediately to my supervisor/designee. </p>

        <!-- Submit Button row (button centered below the two columns) -->
        <div class="w3-row w3-margin-top w3-margin-bottom">
            <div class="w3-third"><p></p></div>
            <div class="w3-third w3-container">
                <input class="w3-btn w3-block w3-green w3-border w3-border-grey w3-round-large w3-padding-small" type="submit" value="Submit" name="new_screening" />
            </div>
            <div class="w3-third"><p></p></div>
        </div>     

    </form>
</div>


@* <hr />
<!-- Questionairre paragraphs from page 1 of the screening form -->
<p>*My Signature on this form indicates that I have completed the daily self-assessment and acknowledge I have taken my temperature and it is equal to or below 100.4 degrees, 
    I am not exhibiting any of the following symptoms: new/change in cough, shortness of breath, sore throat, fatigue, malaise, nausea, diarrhea or headache per CDC COVID-19 guidelines. 
    If I have any of these symptoms and/or others I will report immediately to my supervisor/designee. </p>

<br /><br /> *@