<p>@ViewData["Message"]</p>

<div class="w3-container" hidden='@ViewData["IntlTravel"]'>
    <p>You answered 'Yes' to IntlTravel</p>
</div>
<div class="w3-container" hidden='@ViewData["CloseContact"]'>
    <p>You answered 'Yes' to CloseContact</p>
</div>
<div class="w3-container" hidden='@ViewData["Symptoms"]'>
    <p>You answered 'Yes' to Symptoms</p>
</div>